<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<string>pic0.jpg</string>
		<key>text</key>
		<string>听起来就很幸福。。。这大概就是嫁给爱情的样子吧。。。【允悲】</string>
		<key>icon</key>
		<string>0.jpg</string>
		<key>name</key>
		<string>微天下</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic1.jpg</string>
		<key>text</key>
		<string>美国知乎Quora点赞超过一万以上的心理学小技巧。【并不简单】</string>
		<key>icon</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>clubs</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>只需要让孩子们独处3分钟就有可能发生的邪恶事件。。。每个熊孩子都拥有恶魔般的破坏力</string>
		<key>icon</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>幽默趣事</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic2.jpg</string>
		<key>text</key>
		<string>都说你只有七秒的记忆，但我想那是你更愿意相信这世界是如此美好，都说你是个不怕摔的宝宝，但我想那是你知道即便跌倒了依然可以站起，都说你生气了会跳着脚大叫~你这个臭笨蛋！但是今天，还是要谢谢你带给我们的开怀大笑！</string>
		<key>icon</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>胡可</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic3.jpg</string>
		<key>text</key>
		<string>一只小脑发育不全、差点被安乐死的小猫，遇到了一个超暖的小奶猪守护者。</string>
		<key>icon</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>英国报姐</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>“不要轻易和人发生争执，当有人和你无关紧要的争执时，你就让他赢，因为你并未损失什么。其实人生的幸福，一半要争，一半要随，争，不是与他人争，而是与困苦抗衡”</string>
		<key>icon</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>治愈心理学</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic4.jpg</string>
		<key>text</key>
		<string>小糯米的照片第一次曝光的时候，有人说是因为杨幂自己作，老在微博上提小糯米，一堆键盘侠跟风踩，但是子那次事件以后，她没有再提过一次小糯米，但是今天小糯米的正面照又曝光了。</string>
		<key>icon</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>圈掌柜</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>长沙、重庆演唱会之前，“球王”附身之“高手”在民间。。。</string>
		<key>vip</key>
		<integer>1</integer>
		<key>name</key>
		<string>张杰</string>
		<key>icon</key>
		<string>7.jpg</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic5.jpg</string>
		<key>text</key>
		<string>往上爬的时候，其实腿有点软，太高了【允悲】【并不简单】</string>
		<key>icon</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>唐嫣</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
